/* Basic Content CSS Starts Here */
body{
    margin: 0;
    padding: 0;
    font-family: font-family: 'Roboto', sans-serif;
}

.intro-section{
    display : flex;
    width : 100%;
    background-image: url(images/Frame\ 58.jpg);
    color: hsla(0, 0%, 0%, 0.534);
}

h1{
    font-size: 350%;
}

.orange-color{
    color: orange;
    font-weight: bold;
}

.intro-content-div{
    width: 50%;
    margin-top: 5%;
    margin-left: 20%;
    text-align: left;
}

.intro-content-div p{
    font-size: 20px;
    margin-bottom: 10%;
    margin-right: 25%;
}

.intro-photo-div{
    width : 50%;
    margin-right: 10%;
}

.intro-photo-div img{
    width: 100%;
}

.button-decor{
    text-decoration: none;
    background-image: linear-gradient(to left, rgb(255,69,0),  rgba(255, 69, 0, 0.39));
    padding: 3% 5%;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 0 50px lightcoral;
}

.mid-section{
    display : flex;
    width : 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    color:hsla(0, 0%, 0%, 0.534);
    background-image: url(images/Frame\ 57.jpg);
}

.mid-photo-div{
    width : 50%;
    margin-top: 3%;
    margin-left: 22%;
}

.mid-photo-div img{
    width: 50%;
}

.mid-content-div{
    width: 50%;
    margin-top: 2%;
    margin-right: 8%;
    text-align: justify;
}

.mid-content-div p{
    margin-bottom: 10%;
    margin-right: 20%;
    line-height: 2;
}

.recipies-heading{
    width : 100%;
    text-align : center;
    color:hsla(0, 0%, 0%, 0.534);
    margin-bottom: 3%;
}

.recipies-section{
    display : flex;
    width : 100%;
    margin-bottom: 5%;
}

.reccipies-section-div{
    width : 33%;
    text-align: justify;
    padding: 1%;
    border: 5x;
    border-style: solid;
    border-color: white;
    border-radius: 40px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 40px lightgray;
}

.reccipies-section-div img{
    width: 100%;
}

.social-section{
    display : flex;
    width: 89.3%;
    margin-left: 5%;
    border: 5x;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    box-shadow: 0 0 25px lightgray;
}

.social-div{
    width: 33%;
    margin-bottom: 1%;
    text-align: center;
}

.social-div img{
    width : 10%;
}

footer{
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    width : 100%;
    text-align : center;
    background-color: black;
    color : gray;
}
footer p{
    color: white;
    font-size:small;
    margin-bottom: 2%;
}

footer h1{
    font-size: 36px;
}
/* Basic Content CSS Ends Here */

/* Bonus Content CSS Starts Here */
.menu-bar-div{
    width: 100%;
    overflow: hidden;
    background-color: bisque;
}

.menu-div a{
    float: left;
    color:crimson;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 18px;
    border-right: 1px solid crimson;
}

.name-div span{
    float: right;
    color: crimson;
    padding-top: .5%;
    margin-right: 1%;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
}

.menu-div a:hover{
    background-color:crimson;
    color: white;
}

.menu-div a.active{
    background-color:lightcoral;
    color: crimson;
}
/* Bonus Content CSS Ends Here */