body{
    margin: 0;
    padding: 0;
    font-family: font-family: 'Roboto', sans-serif;
}

.intro-section{
    display : flex;
    width : 100%;
    background-image: url(images/Frame\ 58.jpg);
    color: hsla(0, 0%, 0%, 0.534);
}

h1{
    font-size: 40px;
}

.orange-color{
    color: orange;
    font-weight: bold;
}

.intro-content-div{
    width: 50%;
    margin-top: 10%;
    margin-left: 20%;
    text-align: left;
}

.intro-content-div p{
    margin-bottom: 10%;
}

.intro-photo-div{
    width : 50%;
    margin-right: 10%;
}

.intro-photo-div img{
    width: 100%;
}

.button-decor{
    text-decoration: none;
    background-image: linear-gradient(to left, rgb(255,69,0),  rgba(255, 69, 0, 0.39));
    padding: 3% 5%;
    color: white;
    border-radius: 50px;
    font-weight: bold;
}

.mid-section{
    display : flex;
    width : 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    color:hsla(0, 0%, 0%, 0.534);
    background-image: url(images/Frame\ 57.jpg);
}

.mid-photo-div{
    width : 50%;
    margin-top: 3%;
    margin-left: 27%;
}

.mid-photo-div img{
    width: 50%;
}

.mid-content-div{
    width: 50%;
    margin-top: 3%;
    margin-right: 10%;
    text-align: justify;
}

.mid-content-div p{
    margin-bottom: 10%;
    margin-right: 20%;
    line-height: 2;
}

.recipies-heading{
    width : 100%;
    text-align : center;
    color:hsla(0, 0%, 0%, 0.534);
    margin-bottom: 3%;
}

.recipies-section{
    display : flex;
    width : 100%;
    margin-bottom: 5%;
}

.reccipies-section-div{
    width : 33%;
    text-align: justify;
    padding: 1%;
    border: 5x;
    border-style: solid;
    border-color: white;
    border-radius: 40px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 20px lightgray;
}

.reccipies-section-div img{
    width: 100%;
}

.social-section{
    display : flex;
    width: 89.3%;
    margin-left: 5%;
    border: 5x;
    border-style: solid;
    border-color: white;
    border-radius: 40px;
    box-shadow: 0 0 20px lightgray;
}

.social-div{
    width: 33%;
    margin-left: 2%;
    margin-bottom: 1%;
    text-align: center;
}

.social-div img{
    width : 10%;
}

footer{
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width : 100%;
    text-align : center;
    background-color: black;
    color : gray;
}
footer p{
    color: white;
    font-size:small;
}